.TodoItem {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #4d4d4d;  
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ecdfdf;
    padding: 10px 15px;
    position: relative;
}


.TodoItem-complete > p{
    text-decoration: line-through;
    opacity: .3;
}

.TodoItem > p {
    padding: 8px 16px;
    margin: 0;
}

.TodoItem:last-child > p {
    border-bottom: none;
}

.check-img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.clear-item {
    position: absolute;
    right: .5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 300;
    display: none;
    cursor: pointer;
}

.TodoItem:hover .clear-item {
    display: block;
}